<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207992566267-4mq95nm52v366305jn71qep6lohimq00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207992566267-4mq95nm52v366305jn71qep6lohimq00</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>207992566267-neuci5d462kka44u7226fpktt3r97t4u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGGLELF9R-QktcJbsnFIXff6ybz_W8Bmw</string>
	<key>GCM_SENDER_ID</key>
	<string>207992566267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walcron</string>
	<key>PROJECT_ID</key>
	<string>legocontroller-5c4f6</string>
	<key>STORAGE_BUCKET</key>
	<string>legocontroller-5c4f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207992566267:ios:e6df39f5281e5ecbaadb5e</string>
	<key>DATABASE_URL</key>
	<string>https://legocontroller-5c4f6.firebaseio.com</string>
</dict>
</plist>